<!DOCTYPE html>
<html lang="en">
<head>
    <title>Structure</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/local_css/st.css') }}">
    <script src="{{ url_for('static', filename='/js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/jquery-3.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>



</head>
<body>
<main id="main">
    <div class="lvl0">
        <div class="lvl1">
            <div class="menu">
                <header class="d-flex py-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="" hx-get="/" hx-target="#main" hx-trigger="mouseenter once" hx-swap="innerHTML" class="nav-link {%block search%}{%endblock%}" aria-current="page">Поиск</a></li>
                    <li class="nav-item"><a href="" hx-get="/card_user" hx-target="#main" hx-swap="innerHTML" class="nav-link {%block card_user%}{%endblock%}">Карточка пользователя</a></li>
                    <li class="nav-item"><a href="" hx-get="/data" hx-target="#main"  hx-swap="innerHTML" class="nav-link {%block data%}{%endblock%}">Данные</a></li>
                    <li class="nav-item"><a href="" hx-get="/export" hx-target="#main" hx-trigger="mouseenter once" hx-swap="innerHTML" class="nav-link {%block export%}{%endblock%}">Экспорт</a></li>
                </ul>
                </header>
            </div>
            {%block search_form%}{%endblock%}
            {%block card_user_form%}{%endblock%}
            {%block data_form%}{%endblock%}
            {%block export_form%}{%endblock%}
        </div>
    </div>








<!-- valid form value -->
<!-- <script>
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()
    
</script> -->

</main>
</body>
</html>