
<div id="search_data" class="search_data ">
    <div class="d-flex gap-5">
        <div class="list-group"   id="">
       
        {% for value in extract_user_data_search %}
        {% if loop.index % 2 == 0 %} 
        <label class="list-group-item list_items ">
            <img class="img_upload_small" src="{{ url_for('static', filename='uploads/photos/' ~ value[5]) }}" alt="Моя картинка">
            <span>
            <h6>{{ value[3] }}</h6>
            <small class="d-block text-muted">{{ value[2] }}
                <hr class="um_service_hr">
                <strong>URL или ip сервиса:</strong>  <a href="{{ value.service_url }}">{{ value[4] }}</a>
                <hr class="um_service_hr">
            </small>
            <hr class="um_service_hr">
            </span> 
        </label>
        {% endif %}
        {% endfor %}
        </div>
        <div class="list-group"  id="">
            
            {% for value in extract_user_data_search %}
            {% if loop.index % 2 == 1 %}
            <label class="list-group-item list_items ">
            <img class="img_upload_small" src="{{ url_for('static', filename='uploads/photos/' ~ value[5]) }}" alt="Моя картинка">
            <span>
                <h6>{{ value[3] }}</h6>
                <small class="d-block text-muted">{{ value[2] }}
                <hr class="um_service_hr">
                <strong>URL или ip сервиса:</strong>  <a href="{{ value.service_url }}">{{ value[4] }}</a>
                <hr class="um_service_hr">
                </small>
                <hr class="um_service_hr">
            </span> 
            </label>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
