<div id="search_data" class="search_data">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
            {% for value in extract_user_data_search %} 
            <img class="img_upload" src="{{ url_for('static', filename='uploads/photos/' ~ value[5]) }}" alt="Моя картинка">
            {% endfor %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
            {% for value in extract_user_data_search %}
            <h5 class="card-title">{{ value[3] }}</h5>
            {% endfor %}
            {% for value in extract_user_data_search %}
            <p class="card-text">{{ value[4] }}</p>
            {% endfor %}
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
        </div>
    </div>
</div>