{%extends "base.html"%}
{%block card_user%}
{{side_pos}}
{%endblock%}

{%block card_user_form%}

<div class="search ">
    <div class="mb-2">
        <label for="exampleFormControlTextarea1" class="form-label">Заполните карточку пользователя:</label>
    </div>
    <form hx-post="/card_user" hx-target="#main" hx-swap="innerHTML" id="card_user_form" class="needs-validation" action=""  novalidate>
        <div  class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Управление:</span>
            <select class="form-select" id="inputGroupSelect01" name="management" hx-vals="value">
            <option selected></option>
            {% for value in extract_management_data %}
            <option value="{{value.management_name}}">{{value.management_name}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Отдел:</span>
            <select class="form-select" id="inputGroupSelect01" name="department" required>
            <option selected></option>
            {% for value in extract_department_data %}
            <option value="{{value.department_name}}">{{value.department_name}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Должность:</span>
            <select class="form-select" id="inputGroupSelect01" name="job" required>
            <option selected></option>
            {% for value in extract_job_data %}
            <option value="{{value.job_name}}">{{value.job_name}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Ф.И.О:</span>
            <select class="form-select" id="inputGroupSelect01" name="user" required>
            <option selected></option>
            {% for value in extract_user_name_data %}
            <option value="{{value.user_name}}">{{value.user_name}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Примечение:</label>
            <textarea class="form-control" id="device_text"  name="user_card_text" rows="3" placeholder="Любая дополнительная информация" novalidate></textarea>
        </div>
        <div class="input-group mb-3">
            <input  class="btn btn-warning" type="submit" value="Внести данные" >
        </div>
    </form>
    
    <div class="message_data">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'user_card_add-info' %}
                    {% set alert_class = 'alert-success' %}
                    <div class="alert {{alert_class}} fade show" role="alert">
                        <strong>{{ message }}</strong> - запись добавлена!
                    </div>
                {% elif category == 'user_card_update-info' %}
                    {% set alert_class = 'alert-success' %}
                    <div class="alert {{alert_class}} fade show" role="alert">
                        <strong>{{ message }}</strong> - запись обновлена!
                    </div>
                {% elif category == 'user_card_nodata-info' %}
                    {% set alert_class = 'alert-warning' %}
                    <div class="alert {{alert_class}} fade show" role="alert">
                         <strong>Поля небыли должным образом заполнены!</strong>
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        </div>
</div>

<!-- Проверка отправки пустых полей -->
<!-- <script>
    document.addEventListener('htmx:configRequest', function(event) {
      const selectValue_management = document.querySelector('select[name="management"]').value;
      const selectValue_department = document.querySelector('select[name="department"]').value;
      const selectValue_job = document.querySelector('select[name="job"]').value;
      const selectValue_user = document.querySelector('select[name="user"]').value;

      const leavingPage = event.detail.headers['HX-Trigger'];

      if ((selectValue_management === '' || selectValue_department === '' || selectValue_job === '' || selectValue_user === '') && leavingPage !== 'true'){
        const parameters = Array.isArray(event.detail.parameters) ? event.detail.parameters : [event.detail.parameters];
        event.detail.parameters = parameters.reduce(function(filteredParams, param) {
          if (param.name !== 'select_value') {
            filteredParams.push(param);
          }
          return filteredParams;
        }, []);
  
        event.preventDefault(); // Предотвращаем отправку данных на сервер
        document.getElementById('error-message').style.display = 'block'; // Отображаем сообщение об ошибке
      }
    });
  </script> -->

{%endblock%}