{%extends "base.html"%}
{%block data%}
{{side_pos}}
{%endblock%}

{%block data_form%}

<div id="search" class="search">
    <form class="">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Управление:</span>
            <input class="form-control" list="datalistOptions" id="management" name="management" placeholder="Название управления или другой корневой структурной единицы" >
            <datalist id="datalistOptions" >
                {% for value in extract_management_data %}
                <option value="{{value.management_name}}">
                {% endfor %}
            </datalist>
                
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Отдел:</span>
            <input class="form-control" list="datalistOptions1" id="department" name="department" placeholder="Название отдела" >
            <datalist id="datalistOptions1">
                {% for value in extract_department_data %}
                <option value="{{value.department_name}}">
                {% endfor %}
            </datalist>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Должность:</span>
            <input class="form-control" list="datalistOptions2" id="job" name="job" placeholder="Название должности" >
            <datalist id="datalistOptions2">
                {% for value in extract_job_data %}
                <option value="{{value.job_name}}">
                {% endfor %}
            </datalist>
        </div>
        <div class="button_line">
            <div class=""  hx-post="/data" hx-target="#main">
                <input  class="btn btn-warning" type="submit" value="Добавить">
            </div>
            <div class="" hx-post="/remove_data" hx-target="#main">
                <!-- <a class="btn btn-danger" href="" >Удалить</a> -->
                <input  class="btn btn-danger" type="submit" value="Удалить">
            </div>
            
        </div>
    </form>
    <div class="message_data">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'management-info' %}
                    {% set alert_class = 'alert-success' %}
                    <div class="alert {{alert_class}} fade show" role="alert">
                        <strong>{{ message }}</strong> - запись добавлена!
                    </div>
                {% elif category == 'department-info' %}
                    {% set alert_class = 'alert-success' %}
                    <div class="alert {{alert_class}} fade show" role="alert">
                        <strong>{{ message }}</strong> - запись добавлена!
                    </div>
                {% elif category == 'job-info' %}
                    {% set alert_class = 'alert-success' %}
                    <div class="alert {{alert_class}} fade show" role="alert">
                        <strong>{{ message }}</strong> - запись добавлена!
                    </div>   
                {% endif %}
            {% endfor %}
        {% endwith %}
    </div>
</div>



{%endblock%}