{%extends "base.html"%}
{%block data%}
{{side_pos}}
{%endblock%}

{%block data_form%}

<div id="search" class="search">
    <form id="search_form" class="" >
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Управление:</span>
            <input class="form-control" list="datalistOptions" id="management" name="management" placeholder="Название управления или другой корневой структурной единицы" >
            <datalist id="datalistOptions" >
                {% for value in extract_management_data %}
                <option value="{{value.management_name}}">
                {% endfor %}
            </datalist>
                
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Отдел:</span>
            <input class="form-control" list="datalistOptions1" id="department" name="department" placeholder="Название отдела" >
            <datalist id="datalistOptions1">
                {% for value in extract_department_data %}
                <option value="{{value.department_name}}">
                {% endfor %}
            </datalist>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Должность:</span>
            <input class="form-control" list="datalistOptions2" id="job" name="job" placeholder="Название должности" >
            <datalist id="datalistOptions2">
                {% for value in extract_job_data %}
                <option value="{{value.job_name}}">
                {% endfor %}
            </datalist>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Пользователь:</span>
            <input class="form-control" list="datalistOptions/" id="user" name="user" placeholder="Ф.И.О" >
            <datalist id="datalistOptions/">
                {% for value in extract_user_name_data %}
                <option value="{{value.user_name}}">
                {% endfor %}
            </datalist>
        </div>
        <div class="button_line">
            <div class="" >
                <input hx-trigger="click" hx-post="/data" hx-target="#main" hx-include="#search_form" class="btn btn-warning" type="submit" value="Добавить">
            </div>
            <!-- <div class="" >
                <input hx-trigger="click" hx-post="/remove_data" hx-target="#main" hx-include="#search_form" class="btn btn-danger" type="submit" value="Удалить">
            </div> -->
        </div>
    </form>

    <div class="message_data">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'management-info' %}
                {% set alert_class = 'alert-success' %}
                <div class="alert {{alert_class}} fade show" role="alert">
                    <strong>{{ message }}</strong> - запись добавлена!
                </div>
            {% elif category == 'department-info' %}
                {% set alert_class = 'alert-success' %}
                <div class="alert {{alert_class}} fade show" role="alert">
                    <strong>{{ message }}</strong> - запись добавлена!
                </div>
            {% elif category == 'job-info' %}
                {% set alert_class = 'alert-success' %}
                <div class="alert {{alert_class}} fade show" role="alert">
                    <strong>{{ message }}</strong> - запись добавлена!
                </div>
            {% elif category == 'user-info' %}
                {% set alert_class = 'alert-success' %}
                <div class="alert {{alert_class}} fade show" role="alert">
                    <strong>{{ message }}</strong> - запись добавлена!
                </div>
            {% elif category == 'management-remove-info' %}
                {% set alert_class = 'alert-success' %}
                <div class="alert {{alert_class}} fade show" role="alert">
                    <strong>{{ message }}</strong> - запись удалена!
                </div>
            {% elif category == 'department-remove-info' %}
                {% set alert_class = 'alert-success' %}
                <div class="alert {{alert_class}} fade show" role="alert">
                    <strong>{{ message }}</strong> - запись удалена!
                </div>
            {% elif category == 'job-remove-info' %}
                {% set alert_class = 'alert-success' %}
                <div class="alert {{alert_class}} fade show" role="alert">
                    <strong>{{ message }}</strong> - запись удалена!
                </div>
            {% elif category == 'user-remove-info' %}
                {% set alert_class = 'alert-success' %}
                <div class="alert {{alert_class}} fade show" role="alert">
                    <strong>{{ message }}</strong> - запись удалена!
                </div>
            {% elif category == 'management-update-warning' %}
                {% set alert_class = 'alert-warning' %}
                <div class="alert {{alert_class}} fade show" role="alert">
                    <strong>{{ message }}</strong> - запись уже существует!
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
    </div>
</div>

<div class="search_data">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Управления:
            </button>
        </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table_head  ">
                        <thead>
                            <tr >
                                <th >Управления:</th>
                            </tr>
                        </thead>
                        </table>
                        <table class="table_body">
                        <tbody  id="management_table" hx-target="closest tr" hx-swap="outerHTML">
                            {% for value in extract_management_data %}
                            <tr >
                                <td style="width: 1100px;" hx-get="/data/mgm_edit" hx-target="#management_table" hx-trigger="click">
                                    {{value.management_name}}
                                <input style="width: 1100px;" type="hidden" name="management" value="{{value.management_name}}">
                                <td style="text-align: center;"  class="">
                                    <!-- Удаление записи -->
                                    <button hx-delete="/data/delete" hx-confirm="Are you sure you wish to delete your account?" hx-include="closest tr" hx-target="#main" type="button" class="btn btn btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                            <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                                            </svg>                                    
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    

        <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Отделы:
            </button>
        </h2>
            <div id="collapseTwo" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table_head  ">
                        <thead>
                            <tr >
                                <th >Отделы:</th>
                            </tr>
                        </thead>
                        </table>
                        <table class="table_body">
                        <tbody  id="department_table" hx-target="closest tr" hx-swap="outerHTML">
                            {% for value in extract_department_data %}
                            <tr >
                                <td style="width: 1100px;" hx-get="/data/dep_edit" hx-target="#department_table" hx-trigger="click">
                                    {{value.department_name}}
                                <input style="width: 1100px;" type="hidden" name="department" value="{{value.department_name}}">
                                <td style="text-align: center;"  class="">
                                    <!-- Удаление записи -->
                                    <button hx-delete="/data/delete" hx-confirm="Are you sure you wish to delete your account?" hx-include="closest tr" hx-target="#main" type="button" class="btn btn btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                            <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                                            </svg>                                    
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


</div>

{%endblock%}