{%extends "base.html"%}
{%block data%}
{{side_pos}}
{%endblock%}

{%block data_form%}

<div class="search ">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Управление:</span>
        <input class="form-control" list="datalistOptions" id="device_type_name" name="device_type_name" placeholder="Название управления" >
        <datalist id="datalistOptions">
            <option value="1">
            <option value="2">
        </datalist>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Отдел:</span>
        <input class="form-control" list="datalistOptions" id="device_type_name" name="device_type_name" placeholder="Название отдела" >
        <datalist id="datalistOptions">
            <option value="1">
            <option value="2">
        </datalist>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Должность:</span>
        <input class="form-control" list="datalistOptions" id="device_type_name" name="device_type_name" placeholder="Название должности" >
        <datalist id="datalistOptions">
            <option value="1">
            <option value="2">
            </option>
        </datalist>
    </div>
</div>



{%endblock%}