<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
	<div style="max-width: 1100px;" class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Вы редактируете свободную ставку:</h5>
			</div>
			<div id="modal-body" class="modal-body">
				<form hx-post="/find/update" hx-target="#search_data" hx-swap="innerHTML" hx-include="#card_user_form" id="card_user_form" class="needs-validation" enctype="multipart/form-data" action=""  novalidate>
					<div class="row align-items-start">
						{% for value in extract_user_data_modal %} 
						<img class="img_upload" src="{{ url_for('static', filename='uploads/photos/' ~ value[6]) }}" alt="Моя картинка">
						{% endfor %}
						<div class="input-group md-3 col">
							<span class="input-group-text" id="basic-addon1">Управление:</span>
							{% for value in extract_user_data_modal %}
							<input type="hidden" name="management" value="{{ value[1] }}">
							{% endfor %}
							<select class="form-select" id="inputGroupSelect01" name="management" hx-vals="value" disabled>
							{% for value in extract_user_data_modal %}
							<option selected>{{ value[1] }}</option>
							{% endfor %}
							{% for value in extract_management_data %}
							<option value="{{value.management_name}}">{{value.management_name}}</option>
							{% endfor %}
							{% for value in extract_user_data_modal %}
							<input type="hidden" name="old_management" value="{{ value[1] }}">
							{% endfor %}
							</select>

							<div style="margin-top: 15px;" class="input-group ">
								<span class="input-group-text" id="basic-addon1">Отдел:</span>
								{% for value in extract_user_data_modal %}
								<input type="hidden" name="department" value="{{ value[2] }}">
								{% endfor %}
								<select class="form-select" id="inputGroupSelect02" name="department" required disabled>
								{% for value in extract_user_data_modal %}
								<option selected>{{ value[2] }}</option>
								{% endfor %}
								{% for value in extract_department_data %}
								<option value="{{value.department_name}}">{{value.department_name}}</option>
								{% endfor %}
								{% for value in extract_user_data_modal %}
								<input type="hidden" name="old_department" value="{{ value[2] }}">
								{% endfor %}
								</select>
							</div>
							
							<div style="margin-top: 15px;" class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">Должность:</span>
								{% for value in extract_user_data_modal %}
								<input type="hidden" name="job" value="{{ value[3] }}">
								{% endfor %}
								<select class="form-select" id="inputGroupSelect03" name="job" required disabled>
								{% for value in extract_user_data_modal %}
								<option selected>{{ value[3] }}</option>
								{% endfor %}
								{% for value in extract_job_data %}
								<option value="{{value.job_name}}">{{value.job_name}}</option>
								{% endfor %}
								{% for value in extract_user_data_modal %}
								<input type="hidden" name="old_job" value="{{ value[3] }}">
								{% endfor %}
								</select>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">Ф.И.О:</span>
									<select class="form-select" id="inputGroupSelect04" name="user" required>
									{% for value in extract_user_data_modal %}
									<option selected>{{ value[4] }}</option>
									{% endfor %}
									{% for value in extract_user_name %}
									<option value="{{value.user_name}}">{{value.user_name}}</option>
									{% endfor %}
									{% for value in extract_user_data_modal %}
									<input type="hidden" name="old_user" value="{{ value[4] }}">
									{% endfor %}
									</select>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">Почта:</span>
									<select class="form-select" id="inputGroupSelect05" name="mail" required>
									{% for value in extract_user_data_modal %}
									<option selected>{{ value[8] }}</option>
									{% endfor %}
									{% for value in extract_mail_data %}
									<option value="{{ value[1] }}">{{ value[1] }}</option>
									{% endfor %}
									{% for value in extract_user_data_modal %}
									<input type="hidden" name="old_mail" value="{{ value[8] }}">
									{% endfor %}
									</select>
								</div>
							</div>
							<div style="margin-left: 10px;" class="col">
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">Городской номер:</span>
									<select class="form-select" id="inputGroupSelect06" name="phone_long" required>
									{% for value in extract_user_data_modal %}
									<option selected>{{ value[9] }}</option>
									{% endfor %}
									{% for value in extract_phone_data %}
									<option value="{{ value[1] }}">{{ value[1] }}</option>
									{% endfor %}
									{% for value in extract_user_data_modal %}
									<input type="hidden" name="old_phone_long" value="{{ value[9] }}">
									{% endfor %}
									</select>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">Внутренний номер:</span>
									<select class="form-select" id="inputGroupSelect07" name="phone_short" required>
									{% for value in extract_user_data_modal %}
									<option selected>{{ value[10] }}</option>
									{% endfor %}
									{% for value in extract_phone_data %}
									<option value="{{ value[1] }}">{{ value[1] }}</option>
									{% endfor %}
									{% for value in extract_user_data_modal %}
									<input type="hidden" name="old_phone_short" value="{{ value[1] }}">
									{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
				
						<div class="row">
							<div class="col-sm-5 col-md-6">
								<label for="file_upload" class="form-label">Примечение:</label>
							</div>
							<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" >
								<label for="exampleFormControlTextarea1" class="">Загрузить фото:</label>
							</div>
							<div class="col-sm-6 col-md-5 col-lg-6 mb-3">       
								{% for value in extract_user_data_modal %}         
								<textarea class="form-control" id="device_text"  name="user_card_text" rows="3" placeholder="Любая дополнительная информация (Поле может не заполняться)" novalidate>{{ value[5] }}</textarea>
								<input type="hidden" name="old_user_card_text" value="{{ value[5] }}">
								{% endfor %}
							</div>
							<div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
								<div class="input-group">
									<label class="input-group-text" id="basic-addon1" for="file_upload">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
										<path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
										<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
									</svg> 
									</label>
									{% for value in extract_user_data_modal %} 
									<input  name="photo" value="" id="file_upload" type="file" class="form-control">
									{% endfor %}
									<!-- {% for value in extract_user_data_modal %} 
									<input type="hidden" name="photo" value="{{ value[6] }}">
									{% endfor %} -->
									<div class="input-group"  style="margin-top: 10px;">
										<span class="input-group-text" id="basic-addon1">Текущий статус сотрудника:</span>
										<select class="form-select" id="inputGroupSelect01" name="type_user" required>
										<option selected>Работает</option>
										{% for value in extract_type_user %}
										<option value="{{value.type_name}}">{{value.type_name}}</option>
										{% endfor %}
										</select>
										<input type="hidden" name="old_type_user" value="{{old_type_user}}">
										<input type="hidden" name="free_job_id" value="{{free_job_id}}">
										
									</div>
								</div>
							</div>
						</div>
				</form>
				
			</div>
			<div class="modal-footer">
				<button  type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">Отмена</button>
				<input form="card_user_form" class="btn btn-primary" type="submit" value="Сохранить" onclick="closeModal()" >
			</div>
					
					
		</div>
	</div>
</div>

<script>
function closeModal() {
	var container = document.getElementById("search_modal")
	var backdrop = document.getElementById("modal-backdrop")
	var modal = document.getElementById("modal")

	modal.classList.remove("show")
	backdrop.classList.remove("show")

	setTimeout(function() {
		container.removeChild(backdrop)
		container.removeChild(modal)
	}, 200)
}

</script>