
<tbody id="department_table" hx-target="closest tr" hx-swap="outerHTML">
    {% for value in extract_management_data %}
<tr>
    <td>
        <input name="management" value="{{value.management_name}}" class="form-control"  placeholder="" >
    <td>
        <a hx-put="/data" hx-target="#main" hx-include="closest tr" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
    </td>
</tr>
{% endfor %}
</tbody>

 