<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
	<div style="max-width: 1100px;" class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Вы редактируете пользователя:</h5>
		</div>
		<div id="modal-body" class="modal-body">
     
			<!-- <div class="search "> -->
				
				<form hx-post="/card_user/update" hx-target="#main" hx-swap="innerHTML" id="card_user_form" class="needs-validation" enctype="multipart/form-data" action=""  novalidate>
					<div  class="input-group mb-3">
						<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Управление:</span>
						<select class="form-select" id="inputGroupSelect01" name="management" hx-vals="value">
						{% for value in extract_user_data_modal %}
						<option selected>{{ value[0] }}</option>
						{% endfor %}
						{% for value in extract_management_data %}
						<option value="{{value.management_name}}">{{value.management_name}}</option>
						{% endfor %}
						</select>
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Отдел:</span>
						<select class="form-select" id="inputGroupSelect01" name="department" required>
						{% for value in extract_user_data_modal %}
						<option selected>{{ value[1] }}</option>
						{% endfor %}
						{% for value in extract_department_data %}
						<option value="{{value.department_name}}">{{value.department_name}}</option>
						{% endfor %}
						</select>
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Должность:</span>
						<select class="form-select" id="inputGroupSelect01" name="job" required>
						{% for value in extract_user_data_modal %}
						<option selected>{{ value[2] }}</option>
						{% endfor %}
						{% for value in extract_job_data %}
						<option value="{{value.job_name}}">{{value.job_name}}</option>
						{% endfor %}
						</select>
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Ф.И.О:</span>
						<select class="form-select" id="inputGroupSelect01" name="user" required>
						{% for value in extract_user_data_modal %}
						<option selected>{{ value[3] }}</option>
						{% endfor %}
						{% for value in extract_user_name %}
						<option value="{{value.user_name}}">{{value.user_name}}</option>
						{% endfor %}
						</select>
					</div>
					<div class="row">
						<div class="col-sm-5 col-md-6">
							<label for="file_upload" class="form-label">Примечение:</label>
						</div>
						<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" >
							<label for="exampleFormControlTextarea1" class="">Загрузить фото:</label>
						</div>
						<div class="col-sm-6 col-md-5 col-lg-6 mb-3">       
							{% for value in extract_user_data_modal %}         
							<textarea class="form-control" id="device_text"  name="user_card_text" rows="3" placeholder="Любая дополнительная информация (Поле может не заполняться)" novalidate>{{ value[4] }}</textarea>
							{% endfor %}
						</div>
						<div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
							<div class="input-group">
								<label class="input-group-text" id="basic-addon1" for="file_upload">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
									<path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
									<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
								  </svg> 
								</label>
								{% for value in extract_user_data_modal %} 
								<input value="{{ value[5] }}" name="photo" id="file_upload" type="file" class="form-control">
								{% endfor %}
							</div>
						</div>
					</div>
					<!-- <div class="input-group mb-3">
						<input  class="btn btn-warning" type="submit" value="Внести данные" >
					</div> -->
				<!-- </form> -->
			<!-- </div> -->
     
		</div>
		<div class="modal-footer">
      <button hx-get="/data" hx-target="#main" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
      <!-- <button hx-put="/data/update" hx-target="#main" hx-trigger="click"  hx-include="#modal-body" type="button" class="btn btn-primary">Сохранить</button> -->
	  <!-- <button type="button" class="btn btn-primary">Сохранить</button> -->
	  <input  class="btn btn-primary" type="submit" value="Внести данные" >
		</div>
</form>
	  </div>
	</div>
  </div>